:root {
    --background-color: #131C26;
    --head-foot-color: #102336;
    --bookcard-color: #1E2B3A;
    --commentary-input-color: #2A3B50;
    --main-color: #F4EBDD;
    --price-color: #C7A65A;
    --like-color: #E53935;
    --commentary-placeholder: #B8C0C8;
    --main-font: 'Source Sans 3';
    --title-price-font: 'Lora';
    --content-limitation: 20px max(calc((100% - 1440px)/2), clamp(16px, 10vw, 140px));
    --border-style: 2px solid #B8C0C8;
    --border-corner: 16px;
}