:root {
    --background-color: #131C26;
    --head-foot-color: #0D1B2A;
    --bookcard-color: #1E2B3A;
    --main-color: #F4EBDD;
    --price-color: #C7A65A;
    --like-color: #E53935;
    --main-font:  'Source Sans 3';
    --title-price-font: 'Lora';
}